.search-input{
    /*padding: 20px 48px 20px 56px;*/
    padding: 15px 56px 15px 25px;
    background: transparent;
    border: 2px solid #9ca3af;
    width: 100%;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #9ca3af;
}

.search-input::placeholder{
    color: #9ca3af;
}

.search-block{
    position: relative;
}

.search-icon{
    position: absolute;
    right: 20px;
    top: 14px;
    font-size: 20px;
    color: white;
    width: 30px;
    height: 30px;
}
